<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Free CSS template by ChocoTemplates.com</title>
<link rel="stylesheet" href="/css/styleAdmin.css" type="text/css"
	media="all" />
</head>
<body>
	<div id="header" th:fragment="header">
		<div class="shell">
			<!-- Logo + Top Nav -->
			<div id="top">
				<h1>
					<a href="/">Press Start</a>
				</h1>
				<div id="top-navigation">
					Welcome <strong sec:authentication="name">x</strong>
					<form th:action="@{/logout}" method="post">
						<button class="btn btn-default navbar-btn">Logout</button>
					</form>
				</div>
			</div>
			<!-- End Logo + Top Nav -->

			<!-- Main Nav -->
			<div id="navigation">
				<ul>
					<li><a href="/dashboard"><span>Dashboard</span></a></li>
					<li><a href="/addproduct"><span>Nuevos Productos</span></a></li>
					<li><a href="/listClients"><span>Clientes</span></a></li>
					<li><a href="/listAdmin"><span>Administradores</span></a></li>
					<li><a href="/security"><span>Copias de Seguridad</span></a></li>
				</ul>
			</div>
			<!-- End Main Nav -->
		</div>
	</div>
	<div id="footer" th:fragment="footer">
		<div class="shell">
			<span class="left">&copy; 2016 - Alumne DAW</span>
		</div>
	</div>
</body>
</html>