<!DOCTYPE html>
<html>
<head>
<title>Press Star</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all"></link>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<!--//theme-style-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
		role="navigation" th:fragment="header">
		<div class="container">
			<div class="header" id="home">
				<ul class="header-links">
					<li><a href="/">Home</a></li>
					<li><a href="/register">Register</a></li>
					<li><a href="/account">Account</a></li>
					<li><a href="/contact">Contact Us</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/faq">FAQ</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</nav>
</body>
</html>