<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Press Star</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
	<div id="top" class="header" th:fragment="header">
		<ul class="header-links nav navbar-nav navbar-right">
			<li sec:authorize="isAuthenticated()">
					    <p class="navbar-text" sec:authentication="name">username</p>
						<form class="navbar-form pull-right" action="/logout" th:action="@{/logout}" method="post">						    
							<button class="btn btn-default navbar-btn">Logout</button>
						</form>
			</li>
			<li><a href="/">Home</a></li>
			<li th:classappend="${menu=='login'}?active"
						sec:authorize="!isAuthenticated()">
						<a th:href="@{/register}">Register</a></li>
			<li th:classappend="${menu=='login'}?active"
						sec:authorize="!isAuthenticated()">
						<a th:href="@{/login}">Login</a></li>
			<li><a href="/account">Account</a></li>
			<li><a href="/contact">Contact Us</a></li>
			<li><a href="/about">About Us</a></li>
		</ul>
		<div class="clearfix"></div>
	</div>

	<div class="header-top" th:fragment="header-top">
		<div class="logo">
			<a href="/"><img src="/images/logo.png" alt=""></img></a>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="header-bottom" th:fragment="header-bottom">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#" id="themes">Plataformas<span
						class="caret"></span></a>
					<ul></ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown">Carrito: <span class="item">X items</span>
	<span class="rate">X€</span></a>
					<ul class="dropdown-menu">
						<li class="sub-icon1 list">Recently added items(X)<div class="shopping_cart">
								<div class="cart_box"></div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<footer th:fragment="footer">
		<a href="#top" class="scroll to-Top"> GO TO TOP!</a>
		<div class="clearfix"></div>
	</footer>
</body>
</html>