<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Press Start</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragment/header :: header"></div>
		<div class="header-top" th:replace="fragment/header :: header-top"></div>
		<div class="content">
			<h3>
				<span>Número Pedido:&nbsp;</span><span th:text="${carrito.id}"></span>
			</h3>
			<div>
				<table>
					<tr th:each="ventas : ${carrito.sells}">
						<td><span th:text="${ventas.producte.nom}">x</span></td>
						<td><span
							th:text="${#numbers.formatDecimal(ventas.producte.precio, 0, 'DEFAULT', 2, 'DEFAULT')}">x</span><span>€</span></td>
						<td th:text="${ventas.cantidad}" ><!-- <select name="cantidad">
								<option
									th:each="i: ${#numbers.sequence(1, ventas.producte.cantidad)}"
									th:text="${i}" th:if="${i} == ${ventas.cantidad}"
									selected="selected">x</option>
								<option
									th:each="i: ${#numbers.sequence(1, ventas.producte.cantidad)}"
									th:text="${i}" th:if="${i} != ${ventas.cantidad}">x</option>
						</select>--></td>
						<td><form th:action="@{'/delCart/' + ${ventas.id}}"
								method="post">
								<button type="submit">Eliminar</button>
							</form></td>
					</tr>
				</table>
				<div>
					<span>Total + Envío(5%):&nbsp;</span><span
						th:text="${#numbers.formatDecimal(carrito.pago, 0, 'DEFAULT', 2, 'DEFAULT')}">x</span><span>€</span>
					<form th:action="@{/buyCart}" method="post">
						<button type="submit">Comprar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>