<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Press Start</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<script type="text/javascript">
	function precioNacional() {

		var precio = parseFloat($("#hidden_pago").val());
		var precio_env = precio + ((precio * 5) / 100);

		$("#pago_envio").text(precio_env);
	}
</script>
<script type="text/javascript">
	function precioInternacional() {

		var precio = parseFloat($("#hidden_pago").val());
		var precio_env = precio + ((precio * 25) / 100);

		$("#pago_envio").text(precio_env);
	}
</script>
</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragment/header :: header"></div>
		<div class="header-top" th:replace="fragment/header :: header-top"></div>
		<div class="content">
			<h3>
				<span>Nº Pedido:&nbsp;</span><span th:text="${carrito.id}"></span>
			</h3>
			<div id="checkout_table">
				<table>
					<tr th:each="ventas : ${carrito.sells}">
						<td><span th:text="${ventas.producte.nom}">x</span><span>&nbsp;</span></td>
						<td><span>Precio:&nbsp;</span><span
							th:text="${#numbers.formatDecimal(ventas.producte.precio, 0, 'DEFAULT', 2, 'DEFAULT')}">x</span><span>€&nbsp;</span></td>
						<td><span>Cantidad:&nbsp;</span><span
							th:text="${ventas.cantidad}"></span>&nbsp;</td>
						<td><form th:action="@{'/delCart/' + ${ventas.id}}"
								method="post">
								<button type="submit">Eliminar</button>
							</form></td>
					</tr>
				</table>
				<form th:action="@{/buyCart}" method="post">
					<div>
					<br />
						<table>
							<tr>
								<td><span>Envío nacional&nbsp;</span><input id="nacional"
									type="radio" name="envio" onclick="precioNacional()" value="5" checked="checked" /></td>
							</tr>
							<tr>
								<td><span>Envío internacional&nbsp;</span><input
									id="internacional" type="radio" name="envio"
									onclick="precioInternacional()" value="25" /></td>
							</tr>
						</table>
					</div>
					<br />
					<span>Total + Envío:&nbsp;</span><span id="pago_envio">Selecciona
						envío</span><span>€</span>
					<button class="exclusive btn" type="submit">Comprar</button>
				</form>
				<input id="hidden_pago" type="hidden"
					th:value="${#numbers.formatDecimal(carrito.pago, 0, 'DEFAULT', 2, 'DEFAULT')}" />
				<script>
					function precioEnvio() {
						var precio = parseFloat($("#hidden_pago").val());
						var precio_env = precio + ((precio * 5) / 100);

						return precio_env;
					}
					document.getElementById("pago_envio").innerHTML = precioEnvio();
				</script>
			</div>
			<br /> <br />
		</div>
	</div>
</body>
</html>