<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragment/header :: header"></div>
		<div class="header-top" th:replace="fragment/header :: header-top"></div>
		<div class="content">
			<!---->
			<div class="contact col-md-8 col-md-offset-2">
				<div>
					<h3>Contáctanos</h3>
					<p>
						Si tienes alguna pregunta, petición, o consulta sobre cualquier
						asunto no dudes en contactar con nosotros y en <b>24/48</b> horas
						hábiles recibirás una respuesta.
					</p>
					<form>
						<div>
							<span> Name*</span> <input type="text"></input>
						</div>
						<div>
							<span class="me-at">Email*</span> <input type="text"></input>
						</div>
						<div>
							<span class="word-in">Message*</span>
							<textarea> </textarea>
						</div>
						<input type="submit" value="Submit"></input>
					</form>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<footer th:replace="fragment/header :: footer"></footer>
	</div>
</body>
</html>