<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Press Start - Admin Zone</title>
<link rel="stylesheet" href="/css/styleAdmin.css" type="text/css"
	media="all" />
</head>
<body>
	<!-- Header -->
	<div class="header" th:replace="fragment/dashboard_header :: header"></div>
	<!-- End Header -->

	<!-- Container -->
	<div id="container">
		<div class="shell">
			<div th:if="${error_number}" class="msg msg-error">
				<p>
					<strong>Error: El precio/la cantidad ha de ser un valor
						numérico!</strong>
				</p>
			</div>
			<br />
			<!-- Main -->
			<div id="main">
				<div class="cl">&nbsp;</div>

				<!-- Content -->
				<div id="content">

					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2 class="left">Artículos actuales</h2>
							<div class="right">
								<label>search articles</label> <input type="text"
									class="field small-field"></input> <input type="submit"
									class="button" value="search"></input>
							</div>
						</div>
						<!-- End Box Head -->

						<!-- Table -->
						<div class="table">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>Nombre</th>
									<th>Género</th>
									<th>Distribuidora</th>
									<th>Plataforma</th>
									<th>Edad</th>
									<th>Cantidad</th>
									<th>Activado</th>
									<th>Precio</th>
									<th width="110" class="ac">Content Control</th>
								</tr>
								<tr th:each="juego : ${juegos}" th:attr="data-id=${juego.id}">
									<td th:text="${juego.nom}">x</td>
									<td th:text="${juego.genero}">x</td>
									<td th:text="${juego.distribuidora}">x</td>
									<td th:text="${juego.plataforma}">x</td>
									<td th:text="${juego.edad}">x</td>
									<td th:text="${juego.cantidad}">x</td>
									<td th:text="${juego.activado}">x</td>
									<td th:text="${juego.precio}">x</td>
									<td style="text-align: center;">
										<button class="editBtn">Editar</button>
										<form th:action="@{'/delete/'+${juego.id}}" method="post">
											<button type="submit">Eliminar</button>
										</form>
									</td>
								</tr>
							</table>
							<!-- Pagging -->
							<div class="pagging">
								<a th:if="${pagina} > 0" href="/dashboard"
									th:href="@{'/dashboard?page=' + ${pagina - 1}}">Anterior</a> <a
									th:if="${#lists.size(juegos) == 4}" href="/dashboard"
									th:href="@{'/dashboard?page=' + ${pagina + 1}}">Siguiente</a>
							</div>
							<!-- End Pagging -->
						</div>
						<!-- Table -->
					</div>
					<!-- End Box -->
					<div th:if="${error_number}" class="msg msg-error">
						<p>
							<strong>Error: El precio/la cantidad ha de ser un valor
								numérico!</strong>
						</p>
						<br />
					</div>
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2>Editar Artículo</h2>
						</div>
						<!-- End Box Head -->
						<form th:action="@{/editProd}" method="post">
							<!-- Form -->
							<div class="form">
								<p>
									<label>Nombre Artículo</label><input id="nom_juego" name="name"
										type="text" class="field size1" required="required"></input>
								</p>
								<div id="select0a">
									<label>Precio</label><input id="pre_juego" class="field"
										name="price" type="text" required="required"></input>
								</div>
								<div id="select1a">
									<label>Género</label> <input class="field" list="generos"
										name="generos" id="gen_juego" required="required"> <datalist
											id="generos">
										<option th:each="genero : ${generos}" th:value="${genero}"
											th:text="${genero}">x</option>
										</datalist> </input>
								</div>
								<div id="select2a">
									<label>Distribuidor</label> <input id="dist_juego"
										class="field" list="distribuidoras" name="distribuidoras"
										required="required"> <datalist id="distribuidoras">
										<option th:each="distribuidora : ${distribuidoras}"
											th:value="${distribuidora}" th:text="${distribuidora}">x</option>
										</datalist> </input>
								</div>
								<div id="select3a">
									<label>Plataforma</label> <input class="field"
										list="plataformas" name="plataformas" id="plat_juego"
										required="required"> <datalist id="plataformas">
										<option th:each="plataforma : ${plataformas}"
											th:value="${plataforma}" th:text="${plataforma}">x</option>
										</datalist> </input>
								</div>
								<div id="select4a">
									<label>Edad Recomendada</label> <select id="edad_rec"
										name="edad">
										<option value="3+">3+</option>
										<option value="7+">7+</option>
										<option value="12+">12+</option>
										<option value="16+">16+</option>
										<option value="18+">18+</option>
									</select>
								</div>
								<div id="select5a">
									<label>Cantidad</label><input id="cant_juego" class="field"
										name="total" type="text" required="required"></input>
								</div>
								<div id="select6a">
									<label>Activar</label> <select id="activar_juego"
										name="activar">
										<option value="Si">Si</option>
										<option value="No">No</option>
									</select>
								</div>
								<input id="hidden_id" name="_hidden_id" type="hidden" />
							</div>
							<!-- End Form -->

							<!-- Form Buttons -->
							<div class="buttons">
								<input type="submit" class="button" value="submit"></input>
							</div>
							<!-- End Form Buttons -->
						</form>
					</div>
				</div>
				<!-- End Content -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- Main -->
		</div>
		<!-- Footer -->
		<div class="footer" th:replace="fragment/dashboard_header :: footer"></div>
		<!-- End Footer -->
	</div>
	<!-- End Container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/edit.js"></script>
</body>
</html>