<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Press Start - Admin Zone</title>
<link rel="stylesheet" href="/css/styleAdmin.css" type="text/css"
	media="all" />
</head>
<body>
	<!-- Header -->
	<div class="header" th:replace="fragment/dashboard_header :: header"></div>
	<!-- End Header -->

	<!-- Container -->
	<div id="container">
		<div class="shell">

			<!-- Main -->
			<div id="main">
				<div class="cl">&nbsp;</div>

				<!-- Content -->
				<div id="content">

					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2 class="left">Artículos actuales</h2>
							<div class="right">
								<label>search articles</label> <input type="text"
									class="field small-field"></input> <input type="submit"
									class="button" value="search"></input>
							</div>
						</div>
						<!-- End Box Head -->

						<!-- Table -->
						<div class="table">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th width="13"><input type="checkbox" class="checkbox" /></th>
									<th>Nombre</th>
									<th>Plataforma</th>
									<th>Distribuidor</th>
									<th>Cantidad</th>
									<th>Activado</th>
									<th>Precio</th>
									<th>Añadido por</th>
									<th width="110" class="ac">Content Control</th>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkbox" /></td>
									<td><h3>Lorem ipsum dolor sit amet, consectetur.</h3></td>
									<td>Plataforma</td>
									<td>Distribuidor</td>
									<td>Cantidad</td>
									<td>Si/No</td>
									<td>Preu</td>
									<td>Administrator</td>
									<td><a href="#" class="ico del">Delete</a><a href="#"
										class="ico edit">Edit</a></td>
								</tr>
							</table>
							<!-- Pagging -->
							<div class="pagging">
								<div class="left">Showing 1-12 of 44</div>
								<div class="right">
									<a href="#">Previous</a> <a href="#">1</a> <a href="#">2</a> <a
										href="#">3</a> <a href="#">4</a> <a href="#">245</a> <span>...</span>
									<a href="#">Next</a> <a href="#">View all</a>
								</div>
							</div>
							<!-- End Pagging -->
						</div>
						<!-- Table -->
					</div>
					<!-- End Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2>Editar Artículo</h2>
						</div>
						<!-- End Box Head -->
						<form th:action="@{/dashboard}" method="post" >
							<!-- Form -->
							<div class="form">
								<p>
									<label>Nombre Artículo <span>(Campo Requerido)</span>
									</label><input name="name" type="text" class="field size1" required="required"></input>
								</p>
								<div id="select1">
									<label>Género</label> <select th:field="*{generos}">
										<option th:each="genero : ${generos}" th:value="${genero}"
											th:text="${genero}">x</option>
									</select>
								</div>
								<div id="select2">
									<label>Distribuidor</label> <select
										th:field="*{distribuidoras}">
										<option th:each="distribuidora : ${distribuidoras}"
											th:value="${distribuidora}" th:text="${distribuidora}">x</option>
									</select>
								</div>
								<div id="select3">
									<label>Plataforma</label><select
										th:field="*{plataformas}">
										<option th:each="plataforma : ${plataformas}"
											th:value="${plataforma}" th:text="${plataforma}">x</option>
									</select>
								</div>
								<div id="select4">
									<label>Edad Recomendada</label> <select>
										<option value="tres">3+</option>
										<option value="siete">7+</option>
										<option value="doce">12+</option>
										<option value="dieciseis">16+</option>
										<option value="dieciocho">18+</option>
									</select>
								</div>
								<div id="select5">
									<label>Cantidad</label><input name="total" type="text" value=""></input>
								</div>
								<div id="select6">
									<label>Activar</label> <select>
										<option value="si">Si</option>
										<option value="no">No</option>
									</select>
								</div>
							</div>
							<!-- End Form -->

							<!-- Form Buttons -->
							<div class="buttons">
								<input type="submit" class="button" value="submit"></input>
							</div>
							<!-- End Form Buttons -->
						</form>
					</div>
				</div>
				<!-- End Content -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- Main -->
		</div>
		<!-- Footer -->
		<div class="footer" th:replace="fragment/dashboard_header :: footer"></div>
		<!-- End Footer -->
	</div>
	<!-- End Container -->
</body>
</html>