<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Press Start</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragment/header :: header"></div>
		<div class="header-top" th:replace="fragment/header :: header-top"></div>
		<div class="row">
			<div id="error_info" class="col-md-8 col-md-offset-2">
				<h1><span>¡Problemas!</span></h1>
				<h2><span th:text="${status} + ' ' + ${error} +'! : ' + ${message}">x</span></h2>
				<h4><span>Parece ser que el Gremlin del Glitch se ha colado en la web. Date un respiro mientras solucionamos el problema.</span></h4>
				<img src="/images/error.png" />
				<input type="hidden" th:text="${exception}"/>
				<!-- <blockquote th:text="${exception}"></blockquote>-->
			</div>
		</div>
	</div>
</body>
</html>