<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Press Start - Admin Zone</title>
<link rel="stylesheet" href="/css/styleAdmin.css" type="text/css"
	media="all" />
</head>
<body>
	<!-- Header -->
	<div class="header" th:replace="fragment/dashboard_header :: header"></div>
	<!-- End Header -->

	<!-- Container -->
	<div id="container">
		<div class="shell">

			<!-- Main -->
			<div id="main">
				<div class="cl">&nbsp;</div>

				<!-- Content -->
				<div id="content">

					<!-- Box -->
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2 class="left">Clientes Registrados</h2>
						</div>
						<!-- End Box Head -->

						<!-- Table -->
						<div class="table">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>Nombre</th>
									<th>Email</th>
									<th>Dirección</th>
									<th width="110" class="ac">Content Control</th>
								</tr>
								<tr th:field="*{clientes}" th:each="cliente : ${clientes}">
									<td th:text="${cliente.nom}">x</td>
									<td th:text="${cliente.email}">x</td>
									<td th:text="${cliente.direccion}">x</td>
									<td><form th:action="@{/listClients}" method="post">
											<button class="btn btn-default navbar-btn">Eliminar</button>
										</form></td>
								</tr>
							</table>


							<!-- Pagging -->
							<div class="pagging">
								<div class="left">Showing 1-12 of 44</div>
								<div class="right">
									<a href="#">Previous</a> <a href="#">1</a> <a href="#">2</a> <a
										href="#">3</a> <a href="#">4</a> <a href="#">245</a> <span>...</span>
									<a href="#">Next</a> <a href="#">View all</a>
								</div>
							</div>
							<!-- End Pagging -->
						</div>
						<!-- Table -->
					</div>
					<!-- End Box -->
				</div>
			</div>
		</div>
		<!-- Footer -->
		<div class="footer" th:replace="fragment/dashboard_header :: footer"></div>
		<!-- End Footer -->
	</div>
</body>
</html>