<!DOCTYPE html>
<html>
<head>
<title>Press Star</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all"></link>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"></link>
<!--//theme-style-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
	<div class="account-in register-top">
		<h2 class="prova_font">Login</h2>
		<div class=" account-top register">
			<form>
				<div>
					<span class="col-md-2">Name*</span> <input class="col-md-10" type="text"></input>
				</div>
				<div>
					<span class="col-md-2">Email*</span> <input class="col-md-10" type="text"></input>
				</div>
				<div>
					<span class="pass col-md-2">Password*</span> <input class="col-md-10" type="password"></input>
				</div>
				<input type="submit" value="Submit"></input>
			</form>
		</div>
	</div>
</body>
</html>