<!DOCTYPE html>
<html>
<head>
<title>Press Start</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all"></link>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<!--//theme-style-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<script type="text/javascript">
					function redirect() {
						window.location.assign("http://www.google.com")
					}
				</script>
</head>
<body id="login">
	<div id="login_form">
		<h2 class="prova_font">LOGIN</h2>
		<div>
			<form class="form-horizontal" th:action="@{/login}">
				<div class="form-group">
					<span class="col-md-2">NAME</span><input class="col-md-10"
						type="text"></input>
				</div>
				<div class="form-group">
					<span class="pass col-md-2">PASSWORD</span><input
						class="col-md-10" type="password"></input>
				</div>
				<button id="login-button" class="col-md-offset-2">
					<span class="text_btn">LOG</span>
				</button>
			</form>
			<button id="register-button" class="col-md-offset-5" 
				onclick="redirect()">REG</button>
		</div>
	</div>
</body>
</html>