<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Press Start - Admin Zone</title>
<link rel="stylesheet" href="/css/styleAdmin.css" type="text/css"
	media="all" />
</head>
<body>
	<!-- Header -->
	<div class="header" th:replace="fragment/dashboard_header :: header"></div>
	<!-- End Header -->

	<div id="container">
		<div class="shell">
			<div id="main">
				<div id="content">
					<div th:if="${error}" class="msg msg-error"><p>
						<strong>Error: El nombre/correo ya estan en uso!</strong></p>
					</div>
					<div class="box">
						<!-- Box Head -->
						<div class="box-head">
							<h2 class="left">Lista de Administradores</h2>
						</div>
						<!-- End Box Head -->

						<!-- Table -->
						<div class="table">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<th>Nombre</th>
									<th>Email</th>
									<th width="110" class="ac">Content Control</th>
								</tr>
								<tr th:field="*{admins}" th:each="admin : ${admins}">
									<td th:text="${admin.nom}">x</td>
									<td th:text="${admin.email}">x</td>
									<td><form th:action="@{/newAdmin}" method="post">
											<button class="btn btn-default navbar-btn">Eliminar</button>
										</form></td>
								</tr>
							</table>
							<!-- Pagging -->
							<div class="pagging">
								<div class="left">Showing 1-12 of 44</div>
								<div class="right">
									<a href="#">Previous</a> <a href="#">1</a> <a href="#">2</a> <a
										href="#">3</a> <a href="#">4</a> <a href="#">245</a> <span>...</span>
									<a href="#">Next</a> <a href="#">View all</a>
								</div>
							</div>
							<!-- End Pagging -->
						</div>
						<!-- Table -->
					</div>
					<div class="box">
						<div class="box-head">
							<h2 class="left">Nuevo Administrador</h2>
						</div>
						<div class="table">
							<form method="POST" th:action="@{/newAdmin}">
								<div class="form">
									<p>
										<label>Nombre <span>(Campo Requerido)</span>
										</label><input type="text" name="username" class="field size1"></input>
									</p>
									<p>
										<label>Email <span>(Campo Requerido)</span></label><input
											name="email" class="field size1" type="text"></input>
									</p>
									<p>
										<label>Contraseña <span>(Campo Requerido)</span></label><input
											name="passwd" class="field size1" type="password"></input>
									</p>
								</div>
								<div class="buttons">
									<input type="submit" class="button" value="submit"></input>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="footer" th:replace="fragment/dashboard_header :: footer"></div>
	<!-- End Footer -->
</body>
</html>