<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Press Start</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<script
	src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/js/jquery.elevatezoom.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/edit.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragment/header :: header"></div>
		<div class="header-top" th:replace="fragment/header :: header-top"></div>
		<div class="header-bottom"
			th:replace="fragment/header :: header-bottom"></div>
		<div class="content">
			<h3 id="prod_nombre" th:text="${product.nom}">Nombre Producto</h3>
			<div id="prod_imagenes" class="col-md-4 col-md-offset-2">
				<img width="100%" class="img-responsive" id="img_portada"
					th:src="@{'/images/products/' + ${product.portada}}"
					th:attr="data-zoom-image=@{'/images/products/' + ${product.portada}}" />
				<script>
					$("#img_portada").elevateZoom({
						zoomType : "lens",
						lensShape : "round",
						lensSize : 200
					})
				</script>
				<div class="row">
					<div class="col-md-3" th:each="img : ${product.imagenes}">
						<img class="editImg" width="100%"
							th:src="@{'/images/products/' + ${img}}" />
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<table>
					<tbody>
						<tr>
							<td>Precio</td>
							<td><div
									th:text="${#numbers.formatDecimal(product.precio, 0, 'DEFAULT', 2, 'DEFAULT')}">X</div></td>
						</tr>
						<tr>
							<td>Género</td>
							<td><div th:text="${product.genero}">X</div></td>
						</tr>
						<tr>
							<td>Distribuidora</td>
							<td><div th:text="${product.distribuidora}">X</div></td>
						</tr>
						<tr>
							<td>Plataforma</td>
							<td><div th:text="${product.plataforma}">X</div></td>
						</tr>
						<tr>
							<td>PEGI</td>
							<td><div th:text="${product.edad}">X</div></td>
						</tr>
					</tbody>
				</table>
				<form th:action="@{'/new_venta/'+${product.id}}" method="post">
					<select name="cantidad">
						<option th:each="i: ${#numbers.sequence(1, product.cantidad)}"
							th:text="${i}">x</option>
					</select><br />
					<button type="submit" class="exclusive btn añadir_carrito">
						<span>Añadir al carrito</span>
					</button>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
		<footer th:replace="fragment/header :: footer"></footer>
	</div>
</body>
</html>