<!DOCTYPE html>
<html>
<head>
<title>Press Start</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<link href="/css/style2.css" rel="stylesheet" type="text/css"
	media="all"></link>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<script type="text/javascript">
	function comprobarClave() {
		clave1 = document.forms["form_register"]["passwd"].value;
		clave2 = document.forms["form_register"]["passwd2"].value;
		if (clave1 == clave2) {
			return true
		} else {
			alert("WARNING: Las contraseñas no coinciden!")
			return false
		}
	}
</script>
</head>
<body>
	<!--header-->
	<div class="container">
		<div class="header" th:replace="fragment/header :: header"></div>
		<div class="header-top" th:replace="fragment/header :: header-top"></div>
		<div class="content">
			<div class="account-in register-top">
				<div id="log_error" th:text="${error}"></div>
				<h2>Register</h2>
				<div class=" account-top register">
					<form method="POST" th:action="@{/newregister}"
						onsubmit="return comprobarClave()" name="form_register">
						<div>
							<span>Nombre*</span><input name="nombre" type="text"
								required="required"></input>
						</div>
						<div>
							<span>Email*</span> <input name="email" type="email"
								required="required"></input>
						</div>
						<div>
							<span>Contraseña*</span><input name="passwd" type="password"
								required="required"></input>
						</div>
						<div>
							<span>Repite la contraseña*</span><input id="passwrd2"
								name="passwd2" type="password" required="required"></input>
						</div>
						<div>
							<span>Dirección*</span><input name="direccion" type="text"
								required="required"></input>
						</div>
						<input type="submit" value="Submit"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>